@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 4rem;
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: 'Spectral', Georgia;
  font-family: var(--type-first);
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: #333;
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.main_container {
  margin-top: 2rem;
}

.title {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.title::before {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fb1;
  position: absolute;
  bottom: 5px;
  left: -5px;
  border-radius: 0.2rem;
  z-index: -1;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: initial;
    transform: initial;
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 8rem);
}

.AppBody {
  flex: 1;
}

/* Victory */

.VictoryContainer {
  height: initial !important;
}

/* FeedPhotosItem */

.feed_photos_item:nth-child(2) {
  grid-column: 2 / 4;
  grid-row: span 2;
}

@media (max-width: 40rem) {
  .feed_photos_item:nth-child(2) {
    grid-column: initial;
    grid-row: initial;
  }
}

/* User Nav */

.user_header_nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.user_header_nav a,
.user_header_nav button {
  background-color: #eee;
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}

.user_header_nav a:hover,
.user_header_nav a:focus,
.user_header_nav button:hover,
.user_header_nav button:focus {
  background-color: white;
  box-shadow: 0 0 0 3px #eee;
  border-color: #333;
  outline: none;
}

.user_header_nav a.active {
  background-color: white;
  box-shadow: 0 0 0 3px #fea;
  border-color: #fb1;
}

.user_header_nav a.active svg > * {
  fill: #fb1;
}
