.photo {
  margin: auto;
  height: 36rem;
  border-radius: 0.2rem;
  background-color: white;
  display: grid;
  grid-template-columns: 36rem 20rem;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.8);
  animation: scaleUp 0.3s forwards;
}

.singular.photo {
  grid-template-columns: 1fr;
  height: auto;
  padding-top: 2rem;
}

@keyframes scaleUp {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.details {
  padding: 2rem 2rem 0 2rem;
}

.singular .details {
  padding: 1rem 0 0 0;
}

.img {
  grid-row: 1 / 4;
}

.singular .img {
  grid-row: 1;
  border-radius: 0.4rem;
  overflow: hidden;
}

@media screen and (max-width: 64rem) {
  .photo {
    height: auto;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    grid-template-columns: minmax(20rem, 40rem);
  }
  .img {
    grid-row: 1;
  }
}

.author {
  opacity: 0.6;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author a:hover {
  text-decoration: underline;
}

.views::before {
  content: '';
  width: 16px;
  height: 10px;
  display: inline-block;
  margin-right: 0.25rem;
  background: url('../../../Assets/visualizacao-black.svg');
}

.attributes {
  display: flex;
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.attributes li {
  margin-right: 2rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.attributes li::before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 2px;
  position: relative;
  top: 1px;
  background-color: #333;
}
